@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, white, blue);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(93, 34, 148);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(255, 102, 0);
}

.basico {
    color: rgb(255, 102, 0);
}

.intermediario {
    color: rgb(255, 8, 0);
}

.avancado {
    color: rgb(255, 230, 0);
}